  #word_updater {float: left; width: 15%; height: 900px; border: 3px solid #ddd;}
  #word_cloud {width: 80%; height: 25%; margin: auto; overflow:hidden;}
  svg rect {fill: steelblue;}
  select {align: center;}
  h1 {width: 40%; margin: auto;}
  body {width: 90%; margin: 5% 10% 5% 5%;}
  ul {margin: 5%; padding: 0 6%;}
  li {list-style-type: square;}
  li > input {float: right; color: #bab;}
  .axis text {font: 14px sans-serif;}
  .axis path, .axis line {fill: none; stroke: #000; shape-rendering: crispEdges;}
